// Font
$font-xs: 0.8rem;       // 12px
$font-s: 0.93rem;       // 14px
$font-xm: 1.06rem;      // 16px
$font-m: 1.2rem;        // 18px
$font-l: 1.6rem;        // 24px
$font-xl: 2rem;         // 30px
$font-xxl: 2.4rem;      // 36px
$font-xxxl: 3.2rem;     // 48px

$font-title-s: 2.8rem;  // 42px
$font-title: 3.73rem;   // 56px
$font-title-2: 4.4rem;  // 66px

// Colors
$white: #ffffff;
$black: #22262A;

$dark-gray: #C1C8CE;
$gray: #E5E8EA;
$light-gray: #F1F3F4;
$lighter-gray: #F6F7F8;

$darkest-blue: #0D2840;
$dark-blue: #19507F;
$blue: #2678BF;
$light-blue: #2E90E5;
$lighter-blue: #33A0FF;

$dark-purple: #8F65FF;
$purple: #9E7AFF;
$light-purple: #BAA1FF;

$dark-red: #FF4252;
$red: #FF4858;
$light-red: #FF6875;

$dark-green: #0AD00A;
$green: #39DB39;
$light-green: #6DE26D;

$dark-yellow: #FFC600;
$yellow: #FFD33A;
$light-yellow: #FFDA58;