<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__contacts">

        <div class="footer__block">
          <img class="footer__logo lazy" src="/" data-src="images/logo-footer.svg" alt="Bouncer" width="191" height="25">
          <p class="footer__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.Since the 1500s, when an unknown printer.</p>
        </div>

        <div class="footer__block">
          <h3 class="footer__title">Follow Us</h3>
          <p class="footer__text  footer__text--follow">Since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
          <div class="footer__socials social">
            <a href="#" class="social__link" aria-label="facebook" target="_blank" rel="noopener">
              <svg class="social__icon">
                <use href="images/icons/sprite.svg#facebook"/>
              </svg>
            </a>
            <a href="#" class="social__link" aria-label="twitter" target="_blank" rel="noopener">
              <svg class="social__icon social__icon--twitter">
                <use href="images/icons/sprite.svg#twitter"/>
              </svg>
            </a>
          </div>
        </div>

        <div class="footer__block">
          <h3 class="footer__title">Contact Us</h3>
          <div class="footer__text">My Company , 4578 Marmora Road, Glasgow D04 89GR</div>
          <div class="footer__text">
            Call us now: 
            <a class="footer__link footer__link--contact" href="tel:0123-456-789">0123-456-789</a>
          </div>
          <div class="footer__text">
            Email:
            <a class="footer__link footer__link--contact" href="mailto:support@whatever.com">support@whatever.com</a>
          </div>
        </div>

      </div>

      <div class="footer__links">
        <div class="footer__block">
          <h3 class="footer__title">Infomation</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h3 class="footer__title">Service</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h3 class="footer__title">Extras</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h3 class="footer__title">My Account</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h3 class="footer__title">Userful Links</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="footer__block">
          <h3 class="footer__title">Our Offers</h3>
          <ul class="footer__block__links">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Infomation</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Privacy Policy
            </a></li>
            <li class="footer__item"><a href="#" class="footer__link">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>

      <div class="footer__copyright">
        <div class="footer__copyright__content">
          <p class="footer__text footer__text--copyright">
            © 2021 Project made by <a class="footer__link footer__link--copyright" href="https://github.com/lostsleepyboii" target="_blank" rel="noopener">lostsleepyboii.</a><br>
            © 2018 Ecommerce theme by <a class="footer__link footer__link--copyright" href="https://www.bisenbaev.com" target="_blank" rel="noopener">www.bisenbaev.com</a>
          </p>
        </div>
        <div class="footer__payments">
          <img class="footer__payment lazy" src="/" data-src="images/icons/payments/western-union.svg" alt="Western Union" width="38" height="25">
          <img class="footer__payment lazy" src="/" data-src="images/icons/payments/mastercard.svg" alt="MasterCard" width="38" height="25">
          <img class="footer__payment lazy" src="/" data-src="images/icons/payments/paypal.svg" alt="PayPal" width="38" height="25">
          <img class="footer__payment lazy" src="/" data-src="images/icons/payments/visa.svg" alt="Visa" width="38" height="25">
        </div>
      </div>

    </div>
  </div>
</footer>