<header class="header">
  <div class="header__mobile">
    <div class="container">
      <div class="header__mobile__inner">
        <div class="burger">
          <span></span>
        </div>
        <a class="logo logo--sm" href="index.html">
          <img src="images/logo.svg" alt="Bouncer" width="152" height="20">
        </a>
        <div class="header__mobile__btns">
          <a class="nav__link nav__link--header" href="#" aria-label="My Account">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#user"/>
            </svg>
            <span>My profile</span>
          </a>
  
          <a class="nav__link nav__link--header" href="cart.html" aria-label="Cart">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#cart"/>
            </svg>
          </a>
  
          <button class="nav__link nav__link--header" aria-label="Search">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#search"/>
            </svg>
          </button>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="index.html">HOME</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">STORE</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="blog.html">BLOG</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">IPAD</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">MACBOOK</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">ACCESORIES</a>
            </li>
          </ul>
          <ul class="nav__list nav__list--select">
  
            <li class="nav__item">
              <div class="nav__select">
                <select aria-label="language">
                  <option value="">EN</option>
                  <option value="">RU</option>
                </select>
              </div>
            </li>
  
            <li class="nav__item">
              <div class="nav__select">
                <select aria-label="currency">
                  <option value="">USD</option>
                  <option value="">RUB</option>
                </select>
              </div>
            </li>
  
          </ul>
          <ul class="nav__list nav__list--useful">
            <li class="nav__item">
              <a class="nav__link" href="#">
                My profile
                <svg class="nav__icon">
                  <use href="images/icons/sprite.svg#user"/>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__top">
    <div class="container">
      <div class="header__top__inner">
        <div class="header__top__left">
          <div class="nav__select">
            <select aria-label="language">
              <option value="">EN</option>
              <option value="">RU</option>
            </select>
          </div>

          <div class="nav__select">
            <select aria-label="currency">
              <option value="">USD</option>
              <option value="">RUB</option>
            </select>
          </div>
        </div>

        <div class="header__top__right">
          <a class="nav__link nav__link--header" href="#" aria-label="My Account">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#user"/>
            </svg>
            <span>My profile</span>
          </a>

          <a class="nav__link nav__link--header" href="cart.html" aria-label="Cart">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#cart"/>
            </svg>
            <span class="nav__itemsqty">0 Items</span>
            <div class="nav__cost">$0.00</div>
          </a>

          <button class="nav__link nav__link--header" aria-label="Search">
            <svg class="nav__icon">
              <use href="images/icons/sprite.svg#search"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom__inner">
        <a class="logo" href="index.html"><img src="images/logo.svg" alt="Bouncer" width="191" height="25"></a>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="index.html">HOME</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">STORE</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">IPHONE</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">IPAD</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">MACBOOK</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="products.html">ACCESORIES</a>

              <div class="subnav">
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">AirPort & Wireless</a>
                      <a class="subnav__link" href="products.html">AppleCare</a>
                      <a class="subnav__link" href="products.html">Bags, Shells & Sleeves</a>
                      <a class="subnav__link" href="products.html">Business & Security</a>
                      <a class="subnav__link" href="products.html">Cables & Docks</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Cameras & Video</a>
                      <a class="subnav__link" href="products.html">Car & Travel</a>
                      <a class="subnav__link" href="products.html">Cases & Films</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Charging Devices</a>
                      <a class="subnav__link" href="products.html">Connected Home</a>
                      <a class="subnav__link" href="products.html">Device Care</a>
                      <a class="subnav__link" href="products.html">Display & Graphic</a>
                      <a class="subnav__link" href="products.html">Fitness & Sport</a>
                    </li>
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Headphones</a>
                      <a class="subnav__link" href="products.html">HealhKit</a>
                    </li>
                  </ul>
                </div>
                <div class="subnav__column">
                  <h6 class="subnav__title">Category</h6>
                  <ul class="subnav__list">
                    <li class="subnav__item">
                      <a class="subnav__link" href="products.html">Mice & Keyboards</a>
                      <a class="subnav__link" href="products.html">Music Creation</a>
                      <a class="subnav__link" href="products.html">Networking & Server</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>