<div class="popup">
  <div class="popup__inner">
    <button class="popup__close" aria-label="Close Newsletter"></button>
    <div class="popup__content"> 
      <h2 class="popup__title">Newsletter</h2>
      <p class="popup__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <form id="popupForm" class="popup__form">
        <input type="text" class="popup__input" autocomplete="email" placeholder="Email" aria-label="Your email">
        <button type="button" class="btn btn--input">Subscribe</button>
      </form>
      <label class="popup__checkbox checkbox">
        <input class="checkbox__radio" type="checkbox">
        <span class="checkbox__square"></span>
        <span class="checkbox__text">Don’t show this popup again</span>
      </label>
    </div>
    <div class="popup__img lazy-bg"></div>
  </div>
</div>