<section class="related">
  <h2 class="related__title">RELATED PRODUCTS</h2>
  <div class="products__list">
    <article class="products__item">
      <div class="products__top">
        <div class="products__overlay overlay">
          <button class="overlay__icon__wrapper" aria-label="Add To Wishlist">
            <svg class="overlay__icon overlay__icon--heart">
              <use href="images/icons/sprite.svg#heart" />
            </svg>
          </button>

          <button class="overlay__icon__wrapper btn--cart" aria-label="Add To Cart" onclick="getItemToCart()">
            <svg class="overlay__icon">
              <use href="images/icons/sprite.svg#cart-2" />
            </svg>
          </button>
        </div>
        
        <picture class="products__img">
          <source srcset="/" data-srcset="images/products/applemacbookpro.webp" type="image/webp">
          <img class="lazy" src="/" data-src="images/products/applemacbookpro.png" alt="Apple Macbook Pro" width="236"
            height="153">
        </picture>
      </div>

      <div class="products__content">
        <a href="card.html"><h3 class="products__name">Apple Macbook Pro</h3></a>
        <div class="products__rate">★ ★ ★ ★ ★</div>
        <div class="products__prices">
          <span class="products__price">$499</span>
          <span class="products__price products__price--old">$599</span>
        </div>
      </div>
    </article>
  
    <article class="products__item">
      <div class="products__top">
        <div class="products__overlay overlay">
          <button class="overlay__icon__wrapper" aria-label="Add To Wishlist">
            <svg class="overlay__icon overlay__icon--heart">
              <use href="images/icons/sprite.svg#heart" />
            </svg>
          </button>

          <button class="overlay__icon__wrapper btn--cart" aria-label="Add To Cart" onclick="getItemToCart()">
            <svg class="overlay__icon">
              <use href="images/icons/sprite.svg#cart-2" />
            </svg>
          </button>
        </div>
        
        <picture class="products__img">
          <source srcset="/" data-srcset="images/products/applemacbookpro.webp" type="image/webp">
          <img class="lazy" src="/" data-src="images/products/applemacbookpro.png" alt="Apple Macbook Pro" width="236"
            height="153">
        </picture>
      </div>

      <div class="products__content">
        <a href="card.html"><h3 class="products__name">Apple Macbook Pro</h3></a>
        <div class="products__rate">★ ★ ★ ★ ★</div>
        <div class="products__prices">
          <span class="products__price">$499</span>
          <span class="products__price products__price--old">$599</span>
        </div>
      </div>
    </article>
  
    <article class="products__item">
      <div class="products__top">
        <div class="products__overlay overlay">
          <button class="overlay__icon__wrapper" aria-label="Add To Wishlist">
            <svg class="overlay__icon overlay__icon--heart">
              <use href="images/icons/sprite.svg#heart" />
            </svg>
          </button>

          <button class="overlay__icon__wrapper btn--cart" aria-label="Add To Cart" onclick="getItemToCart()">
            <svg class="overlay__icon">
              <use href="images/icons/sprite.svg#cart-2" />
            </svg>
          </button>
        </div>
        
        <picture class="products__img">
          <source srcset="/" data-srcset="images/products/applemacbookpro.webp" type="image/webp">
          <img class="lazy" src="/" data-src="images/products/applemacbookpro.png" alt="Apple Macbook Pro" width="236"
            height="153">
        </picture>
      </div>

      <div class="products__content">
        <a href="card.html"><h3 class="products__name">Apple Macbook Pro</h3></a>
        <div class="products__rate">★ ★ ★ ★ ★</div>
        <div class="products__prices">
          <span class="products__price">$499</span>
          <span class="products__price products__price--old">$599</span>
        </div>
      </div>
    </article>
  
    <article class="products__item">
      <div class="products__top">
        <div class="products__overlay overlay">
          <button class="overlay__icon__wrapper" aria-label="Add To Wishlist">
            <svg class="overlay__icon overlay__icon--heart">
              <use href="images/icons/sprite.svg#heart" />
            </svg>
          </button>

          <button class="overlay__icon__wrapper btn--cart" aria-label="Add To Cart" onclick="getItemToCart()">
            <svg class="overlay__icon">
              <use href="images/icons/sprite.svg#cart-2" />
            </svg>
          </button>
        </div>
        
        <picture class="products__img">
          <source srcset="/" data-srcset="images/products/applemacbookpro.webp" type="image/webp">
          <img class="lazy" src="/" data-src="images/products/applemacbookpro.png" alt="Apple Macbook Pro" width="236"
            height="153">
        </picture>
      </div>

      <div class="products__content">
        <a href="card.html"><h3 class="products__name">Apple Macbook Pro</h3></a>
        <div class="products__rate">★ ★ ★ ★ ★</div>
        <div class="products__prices">
          <span class="products__price">$499</span>
          <span class="products__price products__price--old">$599</span>
        </div>
      </div>
    </article>
  </div>
</section>
