.entryPost {
  padding-bottom: 3.66rem;
  display: flex;
  flex-direction: column;
  
  &__header {
    margin-bottom: 2.66rem;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $black;
    font-size: $font-xl;
    font-weight: 600;
  }

  &__content {
    display: grid;
    gap: 2rem;
  }

  &__text {
    width: 87%;
    color: $black;
    font-size: $font-s;
    font-weight: 400;
    line-height: 24px;
  }

  &__img {
    margin: 2rem 0;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  &__footer {
    margin-top: 3.66rem;
    display: grid;
  }

  &__share {
    display: flex;
    align-items: center;

    .share {
      &__label {
        margin-right: 1.33rem;
        color: $black;
        font-size: $font-xm;
        font-weight: 600;
      }
    
      &__btn {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;

        transition: all 0.2s ease;
        
        &:not(:last-child) {
          margin-right: 0.66rem;
        }

        &:hover {
          background-color: $white;
          box-shadow: 0px 0px 15px 0px rgba($black, 0.25);

          .share__icon {
            &--fb {
              fill: #385C8E;
            }

            &--tw {
              fill: #03A9F4;
            }
          }
        }

        &--fb {
          background-color: #385C8E;
        }

        &--tw {
          background-color: #03A9F4;
        }

        .share__icon {
          margin-right: 0;
        }
      }
    }
  }
}

// Media
@include l-tablet {
  .entryPost {
    &__title {
      font-size: $font-l;
    }
  }
}

@include mobile {
  .entryPost {
    &__header {
      margin-bottom: 1.33rem;
    }

    &__text {
      width: 100%;
      font-size: $font-m;
    }

    &__img {
      margin: 0;
    }
  }
}