.postThumb {
  overflow-x: auto;

  &__list {
    display: grid;
    gap: 1.33rem;
  }
  
  &__name {
    color: $white;
    font-size: $font-s;
    font-weight: 700;
    z-index: 2;
  }

  &__item {
    padding: 2rem 1.33rem 2rem 1.33rem;
    position: relative;
    
    min-width: 270px;
    width: 100%;
    height: 240px;

    display: flex;
    align-items: flex-end;
    
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: 50%;
      background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.72) 72%);

      transition: all 0.3s ease;
    }

    &:hover {
      &::after {
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 72%);
      }
    }

    &--1 {
      background-color: #A88043;
    }

    &--2 {
      background-color: #EEEEEC;
    }

    &--3 {
      background-color: #CA0063;
    }

  }
}

// LAZY LOAD BANNERS
.no-webp .postThumb__item {
  &--1.lazy-bg-loaded {
    background-image: url("../images/blog/post-thumb-1.jpg");
  }
  
  &--2.lazy-bg-loaded  {
    background-image: url("../images/blog/post-thumb-2.jpg");
  }

  &--3.lazy-bg-loaded  {
    background-image: url("../images/blog/post-thumb-3.jpg");
  }
}

.webp .postThumb__item {
  &--1.lazy-bg-loaded {
    background-image: url("../images/blog/post-thumb-1.webp");
  }
  
  &--2.lazy-bg-loaded  {
    background-image: url("../images/blog/post-thumb-2.webp");
  }

  &--3.lazy-bg-loaded  {
    background-image: url("../images/blog/post-thumb-3.webp");
  }
}

// Media
@include l-tablet {
  .postThumb {
    &__list {
      grid-auto-flow: column;
      justify-content: flex-start;
      overflow-x: auto;
    }

    &__item {
      min-width: 200px;
    }
  }
}
