.subnav {
  padding: 3rem 2.66rem;
  width: 90%;

  position: absolute;
  top: 2.5rem;
  left: 3.5rem;

  display: grid;
  gap: 5.66rem;
  grid-template-columns: 1fr 1fr 0.7fr;

  background-color: $white;
  border-top: 2px solid $lighter-gray;
  box-shadow: 0px 30px 30px 0px rgba(0,0,0,0.05);
  
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;

	&__list {
    max-height: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
  }

	&__title {
    margin-bottom: 1.6rem;

    color: $dark-gray;
    font-size: $font-m;
    font-weight: 600;
	}

	&__link {
    padding-right: 1rem;

    color: $black;
    font-size: $font-s;
    font-weight: 400;

    transition: all 0.2s ease;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      color: $light-blue;
    }
	}
}

// Media
@include l-tablet {
  .subnav {
    display: none;
  }
}