.tags {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0.33rem;
  }

  &__link {
    display: flex;
    padding: 0.46rem 1.13rem;
    font-family: inherit;
    color: $lighter-blue;
    font-size: $font-s;
    font-weight: 400;
    background: none;
    border: 2px solid rgba($lighter-blue, 0.25);
    border-radius: 15px;

    transition: all 0.2s ease;

    &:hover {
      color: $white;
      background: $lighter-blue;
      border: 2px solid $lighter-blue;
    }
  }
} 